.modal {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
  display: none;
  justify-content: center;
  align-items: center;
}

.modal-container {
  position: relative;
  min-width: 710px;
  max-width: 1186px;
  min-height: 540px;
  max-height: 700px;
  overflow-y: auto;
  background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%);
  border-radius: 25px;
  overflow-x: hidden;

}

.modal-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.modal.is-open {
  display: flex;
}

@media (max-width:768px){
  .modal-container {
    position: relative;
    min-width: 310px;
    max-width: 250px;
    max-height: 650px;
    overflow-y: auto;
    background-color: #000; 
  }

}